<form method="post" action="{{ path('admin_hobby_delete', {'id': content.id}) }}" onsubmit="return confirm('Etes vous' +
 'sure de vouloir supprimer cet hobby ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
