{% extends 'admin/base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
    <h1 class="text-uppercase text-light">éditer une formation</h1>

    {{ include('admin/formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_formation_index') }}">back to list</a>

    {{ include('admin/formation/_delete_form.html.twig') }}
{% endblock %}
