{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Nouveau diplôme{% endblock %}

{% block body %}
    <h1 class="text-light text-uppercase text-center">Rajouter un diplôme</h1>

    {{ include('admin/reward/_form.html.twig') }}

    <a href="{{ path('admin_reward_index') }}">Revenir à la liste des diplômes</a>
{% endblock %}
