{% extends 'admin/base.html.twig' %}

{% block title %}Skill Content{% endblock %}

{% block body %}
    <h1 class="text-uppercase text-light">éditer une compétence</h1>

    {{ include('admin/skills/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_skills_index') }}">Revenir à la liste</a>

    {{ include('admin/skills/_delete_form.html.twig') }}
{% endblock %}
