{% extends 'admin/base.html.twig' %}

{% block title %}New skills{% endblock %}

{% block body %}
    <h1 class="text-light text-uppercase text-center">Créer une nouvelle compétence</h1>

    {{ include('admin/skills/_form.html.twig') }}

    <a href="{{ path('admin_skills_index') }}">Revenir à la liste des compétences</a>
{% endblock %}
