.nav-link {
  text-transform: uppercase;
  color: $primary-color;

  &:active {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $secondary-color;
}
