.nav-link {
  text-transform: uppercase;
  color: $primary-color;

  &:active {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $secondary-color;
}

.navbar-dark {
  .navbar-nav {
    .nav-link.active,
    .show > .nav-link {
      color: #242424;
    }
  }
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    background-color: #FF9800;
    color: #242424;
  }
}
