    <footer class="row row-cols-5 py-5 bg-light container-fluid mt-auto">
        <div class="col">
            <h3>A propos de moi</h3>
            <p>
                Nouveau venu dans le monde du développement informatique, doué d'un esprit curieux et ouvert, je suis
                doté de bonnes capacités d'adaptation. J'apprécie de me fonder dans un groupe, capacité acquise au cours
                de mes nombreuses années d'orchestre.
            </p>

        </div>

        <div class="col d-flex flex-column justify-content-end align-items-center">
            <p class="text-muted">© {{ "now"|date('Y') }} Taglialatela</p>
        </div>

        <div class="col d-flex flex-column">
            <h5>Mes réseaux</h5>
            <ul class="nav d-flex flex-column mt-auto">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">GitHub</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">LinkedIn</a></li>
            </ul>
        </div>



        <div class="col d-flex flex-column justify-content-end align-items-end">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Compétences</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mes projets</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mon parcours</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mes passions</a></li>
            </ul>
        </div>
    </footer>
