 <footer class="footer mt-auto bg-light text-center">
     <!-- Grid container -->
     <div class="container p-2">

         <!-- Section: Social media -->
         <section class="mb-0">
             <!-- Linkedin -->
             <a class="btn btn-primary btn-floating m-1 rounded-circle" style="background-color: #0082ca" href="https://www.linkedin.com/in/thibauttaglialatela/" role="button"><i class="fab fa-linkedin-in"></i></a>
             <!-- Github -->
             <a class="btn btn-primary btn-floating m-1 rounded-circle" style="background-color: #333333" href="https://github.com/thibauttaglialatela"  role="button"><i class="fab fa-github"></i></a>
         </section>
         <!-- Section: Social media -->

     </div>
     <!-- Grid container -->

     <!-- Copyright -->
     <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
         © {{ "now"|date('Y') }} Taglialatela
     </div>
     <!-- Copyright -->

 </footer>
 <!-- Footer -->
