<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-light fixed-top navbar-expand-lg">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Thibaut TAGLIALATELA</span>
    </a>

    <ul class="nav nav-pills">
        {% set links = [
            {'title': 'Accueil', 'path': 'home_index'},
            {'title': 'Compétences', 'path': 'skills_index'},
            {'title': 'Mes projets', 'path': 'project_index'},
            {'title': 'Mon parcours', 'path': 'formation_index'},
            {'title': 'Mes passions', 'path': 'hobby_index'},
        ] %}

        {% for link in links %}
            <li class="nav-item mx-4 my-auto">
                <a class="nav-link text-decoration-none hover {{ app.request.pathinfo == path(link.path) ? 'active' }}"
                        {{ app.request.pathinfo == path(link.path) ? 'aria-current="page"' }} href="{{ path(link.path) }}">
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}

    </ul>


</header>

