{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Compétences{% endblock %}

{% block body %}
    <h1 class="text-light text-center text-uppercase">Mes compétences</h1>
    <section class="container-fluid">
        {% for skill in skills %}
            <div class="row">
                <div class="card offset-2 col-8 my-4">
                    <div class="card-header text-center text-decoration-underline fs-2">
                        {{ skill.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ skill.description|raw }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>


{% endblock %}
